body {
  margin-left: 25px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.afternoon-heading {
  color: blue;
}

.evening-heading {
  color: purple;
}

.morning-text {
  font-weight: bold;
}

.afternoon-text {
  font-style: italic;
}